{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}"/>
{% endblock %}
{% block content %}
    <h1>Active promos</h1>
    {% for i in active_promos %}
        <div>
            <h1>{{ i.name }}</h1>
            <h2>Discount {{ i.discount }}%</h2>
            <p><small>From {{ i.first_date }} To {{ i.last_date }}</small></p>
        </div>
    {% endfor %}
    <br><br>
    <h1>Feature promos</h1>
    {% for i in future_promos %}
        <div class="item-block">
            <h1>{{ i.name }}</h1>
            <h2>Discount {{ i.discount }}%</h2>
            <p><small>From {{ i.first_date }} To {{ i.last_date }}</small></p>
        </div>
    {% endfor %}
    <br><br>
    <h1>Archived promos</h1>
    {% for i in archive_promos %}
        <div class="item-block">
            <h1>{{ i.name }}</h1>
            <h2>Discount {{ i.discount }}%</h2>
            <p><small>From {{ i.first_date }} To {{ i.last_date }}</small></p>
        </div>
    {% endfor %}
{% endblock %}