{% extends 'base.html' %}
{% load static %}
{% load first_sentence %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/news.css' %}"/>
{% endblock %}
{% block content %}
    <h1>Zoo</h1>

    <br>

    <div style="display: inline">
        {% for ad in ads %}
            <img src="{{ ad.image }}" alt="ads" width="30%"/>
        {% endfor %}
    </div>

    <div class="item-block">
        <h1>Price list</h1>
        {% for price in prices %}
            <p>{{ price.name }} - {{ price.price }}$</p>
        {% endfor %}
        {% if user.is_authenticated and not user.is_staff %}
            <a href={% url "zoo:buy_ticket" %}>Buy</a>
        {% endif %}
    </div>

    <div class="item-block">
        <h1>Last New:</h1>
        <div class="news-content">
            <a href="{% url 'zoo:news_detail' new.pk %}" class="news-title">{{ new.title }}</a>
            <img src="{{ new.photo.url }}" alt="{{ new.title }}" class="news-image"/>
            <div class="news-text">{{ new.text|first_sentence }}</div>
        </div>
    </div>

    <div class="item-block">
        <h1>Fact about cat:</h1>
        <p>{{ fact }}</p>
    </div>

    <div class="item-block">
        <h1>Partners</h1>
        {% for partner in partners %}
            <div class="partners-list">
                <a href="{{ partner.url }}">
                    <img src="{{ partner.logo }}" alt="{{ partner.name }}" width="10%"/>
                </a>
                <p>{{ partner.name }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}