{% extends 'base.html' %}
{% load static %}
{% load first_sentence %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/news.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slider.css' %}"/>
    <script src="{% static 'js/bannersController.js' %}"></script>
{% endblock %}
{% block content %}
    <h1>Zoo</h1>

    <br>

    <div class="item-block main-slider"></div>

    <div class="item-block">
        <h1>Price list</h1>
        {% for price in prices %}
            <p>{{ price.name }} - {{ price.price }}$</p>
        {% endfor %}
        {% if user.is_authenticated and not user.is_staff %}
            <a href={% url "zoo:buy_ticket" %}>Buy</a>
        {% endif %}
    </div>

    <div class="item-block">
        <h1>Last New:</h1>
        <div class="news-content">
            <a href="{% url 'zoo:news_detail' new.pk %}" class="news-title">{{ new.title }}</a>
            <img src="{{ new.photo.url }}" alt="{{ new.title }}" class="news-image"/>
            <div class="news-text">{{ new.text|first_sentence }}</div>
        </div>
    </div>

    <div class="item-block">
        <h1>Fact about cat:</h1>
        <p>{{ fact }}</p>
    </div>

    <div class="item-block">
        <h1>Partners</h1>
        {% for partner in partners %}
            <div class="partners-list">
                <a href="{{ partner.url }}">
                    <img src="{{ partner.logo }}" alt="{{ partner.name }}" width="10%"/>
                </a>
                <p>{{ partner.name }}</p>
            </div>
        {% endfor %}
    </div>
    <script> 
        var list = []
        {% for i in ads %}
            list.push({
                "imageSrc": "{{i.imageSrc}}",
                "title": "{{i.title}}",
                "url": "{{i.url}}"
            })
        {% endfor %}
        let banner = new BannerController(list, document.querySelector('.main-slider'))
        banner.setLoop = "{{ slider_settings.isLoop }}" == "True"
        banner.setNavs = "{{ slider_settings.showNavs }}" == "True"
        banner.setPagination = "{{ slider_settings.usePagination }}" == "True"
        banner.setAutoSwitch = "{{ slider_settings.autoSwitch }}" == "True"
        banner.setStopOnMouseHover = "{{ slider_settings.stopOnMouseHover }}" == "True"
        banner.setDelay = {{ slider_settings.delay }}
    </script>
{% endblock %}