{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}"/>
{% endblock %}
{% block content %}
    <div class="item-block news-content">
        <h1>{{ news_item.title }}</h1>
        {% if news_item.photo %}
            <img src="{{ news_item.photo.url }}" alt="{{ news_item.title }}" class="news-image">
        {% endif %}
    </div>
    <div class="news-multi-column item-block">
        <p>{{ news_item.text }}</p>
    </div>
    <br>
    <a href="{% url 'zoo:news_page' %}">Back</a>
{% endblock %}