{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}"/>
{% endblock %}
{% block content %}
    <div class="item-block">
        <h1>It is page with reviews</h1>
        <button class="main-button"><a href='{% url 'zoo:new_review' %}'>New Review</a></button>
    </div>
    {% for i in reviews %}
        <div class="review-card item-block">
            <div class="review-header">
                <h1>{{ i.user.user.username }}</h1>
                <h1>{{ i.rating }}</h1>
            </div>
            <h2>{{ i.text }}</h2>
            <p><small>{{ i.date }} by {{ i.user.user.username }}</small></p>
        </div>
    {% endfor %}
{% endblock %}