{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/employee_list.css' %}"/>
    <script src="{% static 'js/employeesTable.js'%}"></script>
    <style>
        .circle-container {
            position: relative;
            width: 200px;
            height: 200px;
        }

        .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 3px solid black;
            transform: translate(-50%, -50%);
        }

        .small-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: black;
            transform: translate(-50%, -50%);
        }

        .path {
            position: absolute;
            top: 42%;
            left: 42%;
            width: 30px;
            height: 30px;
            transform-origin: center;
            animation: rotate-path 2s linear infinite;
        }

        .dot {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: black;
            border-radius: 50%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        @keyframes rotate-path {
            from {
                transform: translate(0%, 0%) rotate(0deg);
            }
            to {
                transform: translate(0%, 0%) rotate(360deg);
            }
        }

        .path .dot {
            transform: rotate(calc(360deg / 13 * var(--i))) translate(75px) rotate(calc(-360deg / 13 * var(--i)));
        }
    </style>
{% endblock %}
{% block content %}
    <div class="item-block">
        <h1>Employees List</h1>
    </div>


    <div class="employees-table item-block">
        <div class="preloader" style="transform: scale(0.5)">
            <div class="circle-container" style="margin-left: auto; margin-right: auto;">
                <div class="circle"></div>
                <div class="path">
                    <div class="dot" style="--i: 0;"></div>
                    <div class="dot" style="--i: 1;"></div>
                    <div class="dot" style="--i: 2;"></div>
                    <div class="dot" style="--i: 3;"></div>
                    <div class="dot" style="--i: 4;"></div>
                    <div class="dot" style="--i: 5;"></div>
                    <div class="dot" style="--i: 6;"></div>
                    <div class="dot" style="--i: 7;"></div>
                    <div class="dot" style="--i: 8;"></div>
                    <div class="dot" style="--i: 9;"></div>
                    <div class="dot" style="--i: 10;"></div>
                    <div class="dot" style="--i: 11;"></div>
                    <div class="dot" style="--i: 12;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="employees-data-field item-block"></div>

    <script>
        new EmployeeTable([], 
            document.querySelector(".employees-table"),
            document.querySelector(".employees-data-field")
        )
    </script>


{% endblock %}
